.form {
  display: grid;
  grid-template-columns: 20em 20em;
  gap: .5em;
}

.form > label {
  text-align: right;
}

.form .field {
  display: flex;
}

.form input:disabled {
  background-color: #dfdfdf;
  color: #353535;
}

.form .field > * {
  flex: 1;
  display: flex;
  flex-direction: inherit;
}

.form .field > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form .field > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  display: flex;
}

.form .field > ul > li > * {
  flex: 1;
}

.form .options {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .2em;
  justify-content: space-between;
  margin: .2em;
}

.form .option {
  border: .1em solid #666;
  border-radius: .2em;
  padding: .2em .5em;
  cursor: pointer;
}

.form .option:hover {
  background-color: #444;
  box-shadow: 0 0 .5em #ffffffaa;
}